* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#fff0f0, #f8f8ff);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

    .icons i {
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    ul li {
        display: inline;
        margin-left: 20px;
        list-style: none;

        a {
            text-decoration: none;
            font-family: sans-serif;
            color: #181818;
        }
    }
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 6rem;
}

.image-container {
    background: #fff;
    border-radius: 200px;
    padding: 20px;
    box-shadow: 4px 4px 10px -4px #ccc;

    .image {
        background: url(https://media.licdn.com/dms/image/v2/C4E03AQFJZ7I1gdUDtw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1591963113171?e=1729728000&v=beta&t=tImjVJdgaT9AfzO8ZpN0LkBvAL_o3ApkA3TwQ1o1U3k);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 500px;
        border-radius: 300px;
    }
}